body {
  font-family: roboto;
  margin: 0;
  padding: 0;
}
.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
}

.main > * {
  margin-top: 0em;
}

.promptbox {
  margin: 1em;
}

.promptbox > span {
  margin-right: 0.5em;
}

pre {
  margin: 0em;
  padding: 0.5em;
  white-space: pre-wrap;
  font-family: "Consolas";
  border-radius: 0em;
  border-style: solid;
  margin-top: 1em;
}

.usermsg {
  border-color: #88ff88;
  margin-right: 2em;
}

.toolbar {
  display: flex;
  padding: 0.5em;
}

.botmsg {
  border-color: #ff8888;
  margin-left: 2em;
}

.msgbox {
}
.toolbar {
  display: flex;
  justify-content: space-between;
}
.topbar {
  display: flex;
  flex-direction: row-reverse;
}
.topbar Button {
  margin: 1em;
}

.first-color {
  background: #e0ffcd;
  margin-left: 5em;
}

.second-color {
  background: #fdffcd;
  margin-right: 5em;
}

.third-color {
  background: #ffebbb;
}

.fourth-color {
  background: #ffcab0;
}

#card {
  height: 70vh;
  overflow-y: scroll;
}
